@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Londrina+Sketch&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.specific-date::-webkit-datetime-edit {
	padding: 1em;
}

.specific-date::-webkit-datetime-edit-month-field,
.specific-date::-webkit-datetime-edit-day-field,
.specific-date::-webkit-datetime-edit-year-field,
.specific-date::-webkit-datetime-edit-text {
	color: #fbbf24;
}
.specific-date::-webkit-datetime-edit-text {
	padding: 0 0.3em;
}

.specific-date::-webkit-inner-spin-button {
	display: none;
}
.specific-date::-webkit-calendar-picker-indicator {
	background-color: #d4d4d4;
	border-radius: 4px;
	cursor: pointer;
}
